.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log

.env
*.zip
build-info.json
garage-site.zip

.DS_Store
*.swp
.idea/
.vscode/
*.env
.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.zip
*.json
